[Unit]
Description=Cloudflare IP update
After=network.target 

[Service]
EnvironmentFile=/home/cms/cloudflare.config
ExecStart=/bin/bash /home/cms/open-contest/cloudflare.sh
Type=simple

[Install]
WantedBy=multi-user.target
